body {
  margin: 0;
}
.frame-container {
  width: 33%;
  height: 200px;
  display: block;
  float: left;
}
iframe {
  border: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  width: 200%;
  height: 200%;
}




.navbar{
  border: none !important;
  background-color: transparent;

}

.navbar-inverse .navbar-brand{
    color:white !important;
    font-weight: 600 !important;

    font-size: 1.5em;
}

.top-nav-collapse {
  padding: 0;
  background-color:rgba(0,0,0,0.6);
}
.navbar-custom.top-nav-collapse {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-nav li a {
    color: white !important;
    font-size: 1em !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.5) !important;
}

.intro {
    display: inline-block;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'PT Serif', serif;
    font-size: 2em;
    color: #222;
}

.intro img{
    width:300px;
    height: 300px;
}

.caption {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;
    border-radius: 20%;
}

.about{
    margin-top: 6%;
}

.about p{
    font-size: 1.5em;
}

h2{
text-align: center;
font-weight: bold !important;
}

.fa-archive{
  animation: bounce 2s infinite;
}

@keyframes bounce{
  0%{
    transform: translateY(-10px;);
  }
  3%{
    transform: translateY(-15px);
  }

}

img {
    width: 98px;
}
